*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
.container{
    padding: 20px;
    height: 100vh;
    background-color: beige;
    border: 2px solid red;
}
#addTask{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#addTask input{
    padding: 10px;
    font-size: 17px;
    background: transparent;
    outline: none;
    border: 1px solid gray;
    box-shadow: inset 0 0 4px black;
    height: 20px;
    width: 40%;
    border-radius: 12px;
}
/* #addTask input:focus{
    border-bottom: 3px solid red;
    background-color: lightblue;
    width: 45%;
    transition: width 0.4s ease-in-out;
} */
#addTask button{
    height: 40px;
    width: 55px;
    border-radius: 8px;
    border: none;
    background-color: rgb(127, 255, 212);
    font-size: 16px;
}
#addTask button:hover{
    background-color: rgb(107, 208, 174);
    box-shadow: 0 0 4px black;
}
.kanban{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    height: 500px;
}
.heading{
    display: grid;
    place-items: center;
    border-radius: 12px 12px 0 0;
    height:30px;
    width: 100%;
    font-weight: 700;
}
.taskBox{
    padding: 12px;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0px 8px black;
    border: 2px solid red;
    border-radius: 12px;
    min-height: 200px;
    width: 30%;
    flex-shrink: 0;
}
.task{
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    padding: 12px;
    border-radius: 8px;
    width: 80%;
    cursor: grab;
}
.isDragging{
    scale: 1.05;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    background-color: black;
    color: white;
}